<div class="sidebarWrapper">
  <ul class="sidebarList" >
    <li class="sidebarListItem" *ngFor="let item of iconNames">
      <mat-icon class="sidebarIcon">{{item.icon}}</mat-icon>
      <span class="sidebarListItemText">{{item.name}}</span>
    </li>
  </ul>
  <button class="sidebarButton">Show More</button>
  <hr class="sidebarHr" />
  <ul class="sidebarFriendList">
     <li class="sidebarFriend"  *ngFor="let user of users">
      <img class="sidebarFriendImg" [src]="'assets/'+user.profilePicture" alt="" />
      <span class="sidebarFriendName">{{user.username}}</span>
    </li>
  </ul>
</div>