<!--
{user.username !== currentUser.username && (
  <button className="rightbarFollowButton" onClick={handleClick}>
    {followed ? "Unfollow" : "Follow"}
    {followed ? <RemoveIcon /> : <AddIcon />}
  </button>
)}
-->
<h4 className="rightbarTitle">User Information</h4>
<div className="rightbarInfo">
  <div className="rightbarInfoItem">
    <span className="rightbarInfoKey">City</span>
    <span className="rightbarInfoValue">Arequià</span>
  </div>
  <div className="rightbarInfoItem">
    <span className="rightbarInfoKey">From</span>
    <span className="rightbarInfoValue">Du</span>
  </div>
  <div className="rightbarInfoItem">
    <span className="rightbarInfoKey">Relationship</span>
    <span className="rightbarInfoValue">
      Single
      <!--{user.relationship === 1
        ? "Single"
        : user.relationship === 2
        ? "Married"
        : "-"}-->
    </span>
  </div>
</div>
<h4 className="rightbarTitle">User Friends</h4>
<div className="rightbarFollowings">
  <!--
  {friends.map((friend, index) => (
    <Link
      key={index}
      to={"/profile/" + friend.username}
      style={{ textDecoration: "none" }}
    >
      <div className="rightbarFollowing">
        <img
          className="rightbarFollowingImg"
          src={
            friend.profilePicture
              ? PF + friend.profilePicture
              : PF + "person/noAvatar.png"
          }
          alt=""
        />
        <span className="rightbarFollowingName">{friend.username}</span>
      </div>
    </Link>
  ))}
  -->
</div>