<div class="shareWrapper">
  <div class="shareTop">
    <img
      class="shareProfileImg"
      src=""
      alt=""
    />
    <input
      placeholder="`What's in your mind "
      class="shareInput"
    />
  </div>
  <hr class="shareHr" />
    <div class="shareImgContainer" *ngIf="file">
      <img class="shareImg" [src]="getObjectURL(file)" alt="" />
      <mat-icon 
        class="shareCancelImg" 
        (click)="file = null"
      >cancel</mat-icon>

    </div>
    <form class="shareBottom" (ngSubmit)="handleSubmit()">
      <div class="shareOptions">
        <label for="file" class="shareOption">
          <mat-icon style="color: tomato;" class="shareIcon">perm_media</mat-icon>
          <span class="shareOptionText">Photo or Video</span>
          <input style="display: none;" type="file" id="file" accept=".png,.jpeg,.jpg" (change)="handleFileInput($event)"> #>
        </label>
        <div class="shareOption">
          <mat-icon style="color: blue;" class="shareIcon">label</mat-icon>
          <span class="shareOptionText">Tag</span>
        </div>
        <div class="shareOption">
          <mat-icon style="color: green;" class="shareIcon">room</mat-icon>
          <span class="shareOptionText">Location</span>
        </div>
        <div class="shareOption">
          <mat-icon style="color: goldenrod;" class="shareIcon">emoji_emotions</mat-icon>
          <span class="shareOptionText">Feeling</span>
        </div>
      </div>
      <button class="shareButton" type="submit">Share</button>
    </form>
    
</div>