<app-topbar class="topbar"/>
<div class="messenger">
  <div class="chatMenu">
    <div class="chatMenuWrapper">
      <input placeholder="Search for friends" class="chatMenuInput" />
        <div *ngFor="let el of conversations " (click)="currentChat = el">
          <app-conversation [conversation]="el" [currentUser]="user" />
        </div>
    </div>
  </div>
  <div class="chatBox">
    <div class="chatBoxWrapper">
      <!--{currentChat ? (
        <>
          <div class="chatBoxTop">
            {messages.map((m, index) => (
              <div ref={scrollRef} key={index}>
                <Message message={m} own={m.sender === user._id} />
              </div>
            ))}
          </div>
          <div class="chatBoxBottom">
            <textarea
              class="chatMessageInput"
              placeholder="write something..."
              onChange={(e) => setNewMessage(e.target.value)}
              value={newMessage}
            ></textarea>
            <button class="chatSubmitButton" onClick={handleSubmit}>
              Send
            </button>
          </div>
        </>
      ) : (
        <span class="noConversationText">
          Open a conversation to start
        </span>
      )}-->
    </div>
  </div>
  <div class="chatOnline">
    <div class="chatOnlineWrapper">
      <app-chat-online
        onlineUsers={onlineUsers}
        currentId={user._id}
        setCurrentChat={setCurrentChat}
      />
    </div>
  </div>
</div>