<div class="topbarContainer">
  <div class="topbarLeft">

      <span class="logo">messenger</span>

  </div>
  <div class="topbarCenter">
    <div class="searchbar">
      <mat-icon class="searchIcon">search</mat-icon> 
      <input
        placeholder="Search for friend, post or video"
        class="searchInput"
      />
    </div>
  </div>
  <div class="topbarRight">
    <div class="topbarLinks">
      <a routerLink="'/'">
        <span class="topbarLink">Homepage</span>
      </a>
      <span class="topbarLink">Timeline</span>
    </div>
    <div class="topbarIcons">
      <div class="topbarIconItem">
        <mat-icon>person</mat-icon>
        <span class="topbarIconBadge">1</span>
      </div>
      <div class="topbarIconItem">
        <mat-icon>chat</mat-icon>
        <span class="topbarIconBadge">2</span>
      </div>
      <div class="topbarIconItem">
        <mat-icon>notifications</mat-icon>
        <span class="topbarIconBadge">1</span>
      </div>
    </div>
    
      <img
        src=""
        alt=""
        class="topbarImg"
      />
  </div>
</div>