<div class="sidebar">
  <div class="top">
    <a routerLink="/">
      <span class="logo">home</span>
    </a>
  </div>
  <hr />
  <div class="center">
    <ul>
      <p class="title">MAIN</p>
      <li>
        <mat-icon class="icon">dashboard</mat-icon>
        <a routerLink="/">
          <span>Dashboard</span>
        </a>
      </li>
      <p class="title">LISTS</p>
      <a routerLink="/users">
        <li>
          <mat-icon class="icon">person_outline</mat-icon>
          <span>Users</span>
        </li>
      </a>
      <a routerLink="/products">
        <li>
          <mat-icon class="icon">local_shipping</mat-icon>
          <span>Products</span>
        </li>
      </a>
      <li>
        <mat-icon class="icon">credit_card</mat-icon>
        <span>Orders</span>
      </li>
      <li>
        <mat-icon class="icon">store</mat-icon>
        <span>Delivery</span>
      </li>
      <p class="title">USEFUL</p>
      <li>
        <mat-icon class="icon">insert_chart</mat-icon>
        <span>Stats</span>
      </li>
      <li>
        <mat-icon class="icon">notifications_none</mat-icon>
        <span>Notifications</span>
      </li>
      <p class="title">SERVICE</p>
      <li>
        <mat-icon class="icon">settings_system_daydream</mat-icon>
        <span>System Health</span>
      </li>
      <li>
        <mat-icon class="icon">psychology</mat-icon>
        <span>Logs</span>
      </li>
      <li>
        <mat-icon class="icon">settings_applications</mat-icon>
        <span>Settings</span>
      </li>
      <p class="title">USER</p>
      <li>
        <mat-icon class="icon">account_circle_outline</mat-icon>
        <span>Profile</span>
      </li>
      <li>
        <mat-icon class="icon">exit_to_app</mat-icon>
        <span>Logout</span>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <div class="colorOption" (click)="handleClickDark()"></div>
    <div class="colorOption" (click)="handleClickLight()"></div>
  </div>
</div>
