<div class="top">
  <div class="left">
    <div class="editButton">Edit</div>
    <h1 class="title">Information</h1>
    <div class="item">
      <img
        [src]="
          _actualProduct && _actualProduct.img
            ? _actualProduct.img
            : 'assets/person/noAvatar.png'
        "
        alt=""
        class="itemImg"
      />
      <div class="details">
        <h1 class="itemTitle">{{ _actualProduct?.productName }}</h1>
        <div class="detailItem">
          <span class="itemKey">Description:</span>
          <span class="itemValue">{{ _actualProduct?.description }}</span>
        </div>
        <div class="detailItem">
          <span class="itemKey">Price:</span>
          <span class="itemValue">{{ _actualProduct?.price }}</span>
        </div>
        <div class="detailItem">
          <span class="itemKey">StockQuantity:</span>
          <span class="itemValue">{{ _actualProduct?.stockQuantity }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <app-chart title="Product Spending ( Last 6 Months)" />
  </div>
</div>
<div class="bottom">
  <h1 class="title">Last Transactions</h1>
  <app-table [rows]="ordersProduct$  ? (ordersProduct$  | async) || [] : []" />
</div>
