<div class="login">
  <div class="loginWrapper">
    <div class="loginLeft">
      <h3 class="loginLogo">borisocial</h3>
      <span class="loginDesc">
        Connect with friends and the world around you on borisocial.
      </span>
    </div>
    <div class="loginRight">
      <form [formGroup]="loginForm" class="loginBox" (ngSubmit)="onSubmit()">
        <input
          placeholder="Use boris@gmail.com"
          type="email"
          class="loginInput"
          formControlName="email"
        />
        <input
          placeholder="Use  123456"
          type="password"
          class="loginInput"
          formControlName="password"
        />
        <button
          class="loginButton"
          type="submit"
          [disabled]="isFetching$ | async"
        >
          <mat-spinner
            *ngIf="isFetching$ | async; else loginButtonTemplate"
            diameter="30"
            color="warn"
          ></mat-spinner>

          <ng-template #loginButtonTemplate> Log In </ng-template>
        </button>
        <span class="loginForgot">Forgot Password</span>
        <button
          [routerLink]="'/auth/register'"
          type="button"
          class="loginRegisterButton"
          [disabled]="isFetching$ | async"
        >
          <mat-spinner
            *ngIf="isFetching$ | async; else registerButtonTemplate"
            diameter="30"
            color="warn"
          ></mat-spinner>
          <ng-template #registerButtonTemplate>
            Create a New Account
          </ng-template>
        </button>
      </form>
    </div>
  </div>
</div>
