<div class="top">
  <h1>New User</h1>
</div>
<div class="bottom">
  <div class="left">
    <img
      [src]="
        file
          ? fileUrl
          : 'https://icon-library.com/images/no-image-icon/no-image-icon-0.jpg'
      "
      alt=""
    />
  </div>
  <div class="right">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="formInput">
        <label htmlFor="file">
          Image: <mat-icon class="icon">cloud_upload</mat-icon>
          <input
            type="file"
            id="file"
            (change)="handleFileInput($event)"
            style="display: none"
          />
        </label>
      </div>
      <div class="formInput">
        <label for="ProductName">ProductName:</label>
        <input type="text" id="ProductName" formControlName="ProductName" />
        <div class="error-message" *ngIf="userForm.get('ProductName')?.hasError('required')">
          ProductName is required.
        </div>
      </div>
      <div class="formInput">
        <label for="Description">Description:</label>
        <input type="text" id="Description" formControlName="Description" />
        <div class="error-message" *ngIf="userForm.get('Description')?.hasError('required')">
          Description is required.
        </div>
      </div>
      <div class="formInput">
        <label for="Price">Price:</label>
        <input type="number" id="Price" formControlName="Price" />
        <div class="error-message" *ngIf="userForm.get('Price')?.hasError('required')">
          Price is required.
        </div>
      </div>
      <div class="formInput">
        <label for="StockQuantity">StockQuantity:</label>
        <input type="number" id="StockQuantity" formControlName="StockQuantity" />
        <div class="error-message" *ngIf="userForm.get('StockQuantity')?.hasError('required')">
          StockQuantity is required.
        </div>
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
